.terragrunt-cache/
module/vnet/.terraform.lock.hcl
module/vnet/.terragrunt-cache/
module/test_rg/.terragrunt-cache/
module/test_rg/.terraform.lock.hcl
module/storage_account/.terragrunt-cache/
module/storage_account/.terraform.lock.hcl
module/vm/.terragrunt-cache/
module/vm/.terraform.lock.hcl
.terraform/
.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.76.0/linux_amd64/terraform-provider-azurerm_v2.76.0_x5
